:root {
    --card-width: 250px;
}

.grid-wrapper {
    --elem-width: var(--card-width);
}

.course-card {
    background-color: rgb(35, 35, 35);
    border-radius: 15px;
    aspect-ratio: 5 / 6.5;
}
