@import url('https://fonts.googleapis.com/css?family=Fredoka&display=swap');


html {
    font-size: .3vmin;
}

body {
    background: black;
    margin: 0;
    font-family: 'Fredoka';
    scroll-behavior: smooth;
}


/* all sections */
section {
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
}


/* all element in section */
section > * {
    position: absolute;
    width: fit-content;
    height: fit-content;
}


#main {
}
    
    /* main's navbar */
    /* --------- */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 2.5%;
        height: 15%;
        width: 95%;
    }


     /* a group in navbar (mainly for buttons)*/
    .in-nav-group {
        
    }

        .in-nav-group > button {
            margin: 0 15rem;
            background: none;
            border: none;
            color: silver;
            font-family: inherit;
            font-size: 10rem;
            font-weight: 900;
            transition: .3s;
        }

        .in-nav-group > button:hover {
            color: white;
            text-shadow: 0 0 .8rem white;
        }

        .in-nav-group > button > .icon {
        font-size: 11rem;
        margin-right: 2rem;
        color: inherit;
    }


    /* home button */
    #home-button {
        background: none;
        border: none;
        color: lightgrey;
        font-size: 25rem;
        transition: color .1s;
    }

        #home-button:hover {
            color: azure;
        }


    /* login button */
    #login-button {
        border: none;
        background-color: white;
        padding: 10rem;
        font-size: 10rem;
        font-weight: 700;
        text-transform: uppercase;
        box-shadow: 1rem 1rem 1rem rgb(10, 10, 10);
        transition: background .2s, color .1s;
    }

        #login-button:hover {
            color: white;
            background-color: mediumpurple;
            box-shadow: 0 0 1rem rgb(180, 180, 255);
        }

    /* --------- */


    /* main's article (text) */
    /* --------- */

    #main > article {
        left: 5%;
        top: 25%;
        text-align: center;
    }

        #main > article > h1 {
            text-transform: uppercase;
            color: ghostwhite;
            font-size: 28rem;
            font-weight: bold;
         }

            #main > article > h1 > .text-gradient {
            background-image: linear-gradient(to bottom, #FFBF2E, #FF9E28, #FE7C22);
        }

        #main > article > h3 {
            color: rgb(200, 200, 210);
            font-size: 11rem;
        }

            #main > article > h3 > .text-gradient:first-child {
                background-image: linear-gradient(to bottom, #ff9966, #ff5e62);
            }

            #main > article > h3 > .text-gradient:nth-child(2) {
        background-image: linear-gradient(to bottom, #E100FF, #7F00FF);
    }

    /* --------- */


    /* ghost (works only at main) */
    #ghost {
        position: absolute;
        left: 0;
        top: 0;
        color: white;
        font-size: 20rem;
        aspect-ratio: 1;
    }



