:root {
    --purp-clr: rgb(58, 45, 82);
}

#login-window {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    width: 350px;
    height: 200px;
    transition: opacity .5s;
}

    #login-window.hidden {
        pointer-events: none;
        opacity: 0;
    }

    #login-window.shown {
        pointer-events: all;
        opacity: 1;
    }


form {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
}

h1 {
    font-size: 32px;
    font-family: "Fredoka";
}

footer {
    font-size: 12px;
    font-family: "Alegreya" sans-serif;
    text-align: center;
    margin-top: 15px;
    color: grey;
}



.form-field {
    position: relative;
    padding: 20px 0px;
}

input {
    position: relative;
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 26px;
    font-weight: 700;
    width: 60%;
    font-family: Raleway, sans-serif;
    transition: .2s;
}

    input:active,
    input:focus,
    input:hover {
        outline: none;
        border-bottom-color: #6A679E;
    }
    
    input[type="email"] {
        width: 80%;
    }

    input[type="submit"] {
        font-size: 14px;
        margin-top: 30px;
        padding: 16px 20px;
        border-radius: 26px;
        border: 2px solid #B5B5C4;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        width: 100%;
        color: #4C489D;
        cursor: pointer;
    }

        input[type="submit"]:active,
        input[type="submit"]:focus,
        input[type="submit"]:hover {
            border-color: #6A679E;
            outline: none;
        }

.input-icon {
    position: absolute;
    top: 25px;
    color: #6A65C2;
    font-size: 16px;
}



.panda {
    position: relative;
}


.hands {
    display: flex;
    position: absolute;
    gap: 120px;
    width: 100%;
    bottom: -22px;
    justify-content: space-around;
}

.hand {
    background-color: var(--purp-clr);
    border: 1.5px solid black;
    border-radius: 10px 10px 25px 25px;
    height: 32px;
    width: 32px;
}


.face {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.head {
    border: 2px solid var(--purp-clr);
    border-radius: 120px 120px 90px 90px;
    background-color: white;
    height: 118px;
    width: 134px;
}


.eyes {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    top: 35px;
}

.eye {
    background-color: var(--purp-clr);
    height: 35px;
    width: 30px;
    border-radius: 30px;
}

    .eye.left {
        transform: rotate(-20deg);
    }

    .eye.right {
        transform: rotate(20deg);
    }


    .eye:before {
        content: "";
        position: absolute;
        background-color: #ff8bb1;
        height: 15px;
        width: 22px;
        border-radius: 100%;
    }

    .eye.left:before {
        top: 25px;
        left: -10px;
        transform: rotate(45deg);
    }

    .eye.right:before {
        top: 25px;
        right: -10px;
        transform: rotate(-45deg);
    }


    .eye:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: white;
    }

    .eye.left:after {
        left: 35%;
        top: 55%;
    }

    .eye.right:after {
        right: 35%;
        top: 55%;
    }


.ears {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 100%;
    gap: 50px;
    top: 2%;
}

.ear {
    background-color: var(--purp-clr);
    height: 45px;
    width: 32px;
    border-radius: 40px 40px 0 0;
    z-index: -1;
}

    .ear.left {
        transform: rotate(-38deg);
    }

    .ear.right {
        transform: rotate(38deg);
    }



.nose-mouth {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nose {
    background-color: var(--purp-clr);
    width: 16px;
    height: 16px;
    border-radius: 20px 0 0 4px;
    transform: rotate(45deg);
}

    .nose:after {
        content: "";
        position: absolute;
        background-color: var(--purp-clr);
        height: 9.5px;
        width: 1.5px;
        transform: rotate(-45deg);
        top: 12px;
        left: 16px;
    }


.mouth, .mouth-double {
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 2px var(--purp-clr);
    height: 12px;
    width: 16px;
}

.mouth {
    left: 50%;
}

.mouth-double {
    content: "";
    left: -50%;
}
