@import url('https://fonts.googleapis.com/css?family=Fredoka&display=swap');

body {
    background: black;
    margin: 0;
    font-family: 'Fredoka';
}


section {
    height: 100vh;
}


button:hover {
    cursor: pointer;    
}


#main {
    position: relative;
}



nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    height: 15vh;
    width: 94vw;
    left: 3vw;
}


#home-button {
    background: none;
    border: none;
    color: lightgrey;
    font-size: 40px;
    transition: color .1s;
}

#home-button:hover {
    color: azure;
}


#login-button {
    border: none;
    background-color: white;
    padding: 15px 15px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 5px 5px 5px rgb(10, 10, 10);
    transition: background .2s, color .1s;
}

#login-button:hover {
    color: white;
    background-color: mediumpurple;
    box-shadow: 0 0 5px rgb(180, 180, 255);
}


#courses-button {
    border: none;
    color: dimgray;
    transition: .3s;
    font-size: 15px;
    font-weight: 900;
}

#courses-button:hover {
    background-image: linear-gradient(to bottom, #ec6f66, #f3a183);
    font-size: 16px;
}


#projects-button {
    background: none;
    border: none;
    color: ghostwhite;
    transition: .3s;
    font-size: 15px;
    font-weight: 900;
}

#projects-button:hover {
    font-size: 16px;
    color: white;
}



#main > article {
    position: absolute;
    left: 5vw;
    top: 25vh;
    text-align: center;
}

#main > article > h1 {
    text-transform: uppercase;
    color: ghostwhite;
    font-size: 45px;
    font-weight: bold;
}

#main > article > h1 > .text-gradient {
    background-image: linear-gradient(to bottom, #FFBF2E, #FF9E28, #FE7C22);
}

#main > article > h3 {
    color: rgb(200, 200, 210);
    font-size: 20px;
}

#main > article > h3 > .text-gradient:first-child {
    background-image: linear-gradient(to bottom, #ff9966, #ff5e62);
}

#main > article > h3 > .text-gradient:nth-child(2) {
    background-image: linear-gradient(to bottom, #E100FF, #7F00FF);
}


#main > aside > #arrow {
    position: absolute;
    width: 20vw;
    height: 100vh;
    bottom: 0;
    left: 52vw;
    background-image: linear-gradient(to bottom, #FFD200, #F7971E, #ff6a00);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}


#ghost {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    font-size: 3vw;
    aspect-ratio: 1;
}


#login-window {
    display: none;
    background: linear-gradient(356deg, rgb(35, 35, 35) 60%, rgb(25, 25, 25) 8%);
    color: white;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 75vh;
    padding: 15px;
    transition: transform 1.3s;
}

#login-window > * {
    display: inherit;
}

#esc-login-window {
    float: right;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    margin: 10px 15px;
    color: white;
}


input {
    margin-top: 5px;
    border: none;
    outline: 0;
}

label {
    color: whitesmoke;
    margin: 7px 5px;
}

td {
    padding: 8px 0;
}


.login-input {
    background-color: rgb(75, 75, 75);
    padding: 5px;
    color: ghostwhite;
    font-size: 15px;
    font-family: inherit;
}

.email {
    width: 90%;
    padding: 7px;
    border-bottom: 2px solid white;
}

.email:focus {
    border-bottom-color: dodgerblue;
}

.Uname, .password {
    padding: 5px;
}
